* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    margin: 10px;
    background-color: gainsboro;
  }
  
  .accordion {
    transform: translateZ(0);
    background: gainsboro;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
  }
  
  .accordion>.accordion-toggle {
    display: none;
    position: absolute;
    opacity: 0;
  }
  
  .accordion>label {
    display: block;
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background: #f18136;
    color: black;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }

  
  .accordion>label:after {
    content: '';
    position: absolute;
    top: 12px;
    right: 20px;
    width: 12px;
    height: 12px;
    border-left: 2px solid #555;
    border-top: 2px solid #555;
    transform: rotate(-135deg);
    transition: 0.4s transform;
  }
  
  .accordion>section {
    overflow: hidden;
    height: 0;
    transition: all .4s;
  }
  
  .accordion>.accordion-toggle:checked~label:after {
    transform: rotate(45deg);
    top: 16px;
  }
  
  .accordion>.accordion-toggle:checked~section {
    height: 450px;
    padding-top: 20px;
  }
  
  .accordion>section p {
    margin: 15px 0;
    padding: 0 20px;
  }
  .img {
    text-align: center;
 
  }
  #img {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .text {
    font-size: 50px;
    color: #f18136;
    text-align: center;
  }
  .container {
    height: 200px;
  }
  .rs {
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }



  @media (min-width: 320px) and (max-width: 567px) {
    
}


  @media (max-width: 600px)  {
    img {
        width: 300px;
        height: 300px;
    }
    .accordion>.accordion-toggle:checked~section {
        height: 350px;
       
      }
  }
